<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Simple. Smart. Secure. Our software helps you make smarter financial decisions with less effort.</h2>
                <hr class="primary">
                <p>Managing your business finances has never been easier! Our powerful software automates transactions, tracks expenses, and provides real-time financial insights—all in one intuitive platform.</p>
        
            <p> <strong>Custom Transaction Management:</strong> Record all transactions using tailored models.</p>
            <p> <strong>User Role & Responsibility Control:</strong> Assign specific responsibilities and permissions.</p>
            <p> <strong>Custom Printable Invoices:</strong> Generate and customize invoices effortlessly.</p>
            <p> <strong>Secure User Communication:</strong> Connect safely with a built-in secure messaging system.</p>
            <p> <strong>Enterprise-Grade Security:</strong> Powered by <strong>Oracle security technology</strong> for top-tier protection.</p>
            <p> <strong>Financial Analysis & Reporting:</strong> Generate statements and reports with ease.</p>
            <p> <strong>Friendly & Intuitive Interface:</strong> Simple and user-friendly design for everyone.</p>
        
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
