<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="color: white; text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);">Your Accountant System</h1>
            <hr>
            <p style="color: red; text-shadow: 0 0 10px white;">Getting started with our software is effortless, thanks to our intuitive Setup Wizard. Whether you're setting up a new financial operation, managing transactions, or assigning user permissions, our step-by-step process ensures everything is configured quickly and accurately.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Free Download</a>
        </div>
    </div>
</header>
