<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="background-color: rgba(255, 255, 0, 0.5); padding: 5px; border-radius: 5px;">Your Accountant System</h1>
            <hr>
            <p>Getting started with our software is effortless, thanks to our intuitive Setup Wizard. Whether you're setting up a new financial operation, managing transactions, or assigning user permissions, our step-by-step process ensures everything is configured quickly and accurately.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
