<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Get Started Today & Take Control of Your Finances! </h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Automated Transaction Management</h3>
                    <p class="text-muted">All Your Transactions, One Powerful System.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Flexible & Scalable</h3>
                    <p class="text-muted">From small businesses to enterprises, our solution adapts to your needs.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Real-Time Financial Insights</h3>
                    <p class="text-muted">Get instant visibility into your company’s financial health.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>User-Friendly Interface</h3>
                    <p class="text-muted">No accounting expertise required—just simple, guided steps!</p>
                </div>
            </div>
        </div>
    </div>
</section>
